<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    HELLO <%= @user.username %> <br>
    Prénom: <%= @user.first_name %><br>
    First letter of name: <%= @user.last_name.first %> <br>
  </body>
</html>
